.nav {
	&.nav-pills.nav-pills-prime {
		.nav-link {
			color: #9ca4f591 !important;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			&.active {
				color: #828cf8 !important;
				background-color: #0b111ff6;
				font-weight: 600 !important;
				border-radius: 0px;
				border-left: 2px solid #828cf8;
			}
		}
	}
}

@media (max-width: 575.98px) {
	.nav {
		&.nav-pills.nav-pills-prime {
			.nav-link {
				color: #9ca4f591 !important;
				font-family: Verdana, Geneva, Tahoma, sans-serif;
				&.active {
					color: #828cf8 !important;
					background-color: #0b111ff6;
					font-weight: 600 !important;
					border-radius: 0px;
					border-left: 0px;
					border-bottom: 2px solid #828cf8;
				}
			}
		}
	}
}
