$dark_20: #414046;
$dark_40: #2b2c3b;
$dark_60: #1f1f2b;
$dark_80: #181a27;
$dark_100: #0f1314;

.bg-dark-60 {
	background-color: $dark_60;
}

.bg-dark-80 {
	background-color: $dark_80;
}

.bg-dark-100 {
	background-color: $dark_100;
}
